:root{
    --fundo: #C8A1E0;
    --cartao-frente: #E2BFD9;
    --cartao-verso:#674188;
    --destaque:#FF4191;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;

}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
}